# Nextjs
NEXT_PUBLIC_APP_URL=
NEXT_PUBLIC_LOGO_URL=https://cdn.sanity.io/images/yzx0dd6e/production/e90d6b7323a5de9639c61f76c589fa9f550a4e6d-740x591.png
NEXT_PUBLIC_SANITY_DATASET=
NEXT_PUBLIC_SANITY_PROJECT_ID=

# Sanity
SANITY_STUDIO_DATASET=
SANITY_STUDIO_PROJECT_ID=
SANITY_READ_TOKEN=
SANITY_WRITE_TOKEN=

# DATABASE
DATABASE_URL=

# AWS
AWS_ACCESS_KEY=
AWS_SECRET_ACCESS_KEY=
AWS_REGION=

# Better Auth
BETTER_AUTH_SECRET=
BETTER_AUTH_URL=