@import 'tailwindcss';
@import 'tw-animate-css';
@import 'shadcn/tailwind.css';

@custom-variant dark (&:is(.dark *));

@layer base {
  html {
    @apply scroll-smooth;
  }
  body {
    @apply font-body overflow-x-hidden bg-background text-foreground leading-normal tracking-normal text-fs-400;
  }
  * {
    @apply border-border outline-ring/50;
  }
}

@theme inline {
  --font-heading: var(--font-sans);
  --font-sans: var(--font-sans);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --color-foreground: var(--foreground);
  --color-background: var(--background);
  --radius-sm: calc(var(--radius) * 0.6);
  --radius-md: calc(var(--radius) * 0.8);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) * 1.4);
  --radius-2xl: calc(var(--radius) * 1.8);
  --radius-3xl: calc(var(--radius) * 2.2);
  --radius-4xl: calc(var(--radius) * 2.6);
}

:root {
  --radius: 0.625rem;
  --background: var(--color-brand-white);
  --foreground: var(--color-brand-black);
  --card: var(--color-brand-white);
  --card-foreground: var(--color-brand-black);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: var(--color-brand-primary-500);
  --primary-foreground: var(--color-brand-secondary-950);
  --secondary: var(--color-brand-secondary-400);
  --secondary-foreground: var(--color-brand-primary-950);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: var(--color-brand-black);
  --input: var(--color-brand-black);
  --ring: var(--color-brand-primary-500);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: var(--color-brand-black);
  --sidebar-primary: var(--color-brand-primary-500);
  --sidebar-primary-foreground: var(--color-brand-black);
  --sidebar-accent: var(--color-brand-primary-200);
  --sidebar-accent-foreground: var(--color-brand-black);
  --sidebar-border: var(--color-brand-black);
  --sidebar-ring: var(--color-brand-primary-300);
}

.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.922 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);
}

@theme {
  /* colors */
  --color-brand-black: #0f0f0f;
  --color-brand-white: #fbfbfb;

  --color-brand-primary-50: #f0fafb;
  --color-brand-primary-100: #d8f1f5;
  --color-brand-primary-200: #b5e3ec;
  --color-brand-primary-300: #83cddd;
  --color-brand-primary-400: #49afc7;
  --color-brand-primary-500: #2d93ad;
  --color-brand-primary-600: #287792;
  --color-brand-primary-700: #276177;
  --color-brand-primary-800: #275163;
  --color-brand-primary-900: #254454;
  --color-brand-primary-950: #132c39;

  --color-brand-secondary-50: #fcf5f0;
  --color-brand-secondary-100: #f8e8dc;
  --color-brand-secondary-200: #f0cdb8;
  --color-brand-secondary-300: #e5ac8c;
  --color-brand-secondary-400: #de8f6e;
  --color-brand-secondary-500: #d2633d;
  --color-brand-secondary-600: #c44d32;
  --color-brand-secondary-700: #a33b2b;
  --color-brand-secondary-800: #833129;
  --color-brand-secondary-900: #6a2b24;
  --color-brand-secondary-950: #391311;

  --color-brand-success-50: #f6f9f4;
  --color-brand-success-100: #eaf2e6;
  --color-brand-success-200: #d6e4ce;
  --color-brand-success-300: #b5cda8;
  --color-brand-success-400: #88ab75;
  --color-brand-success-500: #6b9057;
  --color-brand-success-600: #557544;
  --color-brand-success-700: #455d38;
  --color-brand-success-800: #394b30;
  --color-brand-success-900: #2f3f28;
  --color-brand-success-950: #172112;

  --color-brand-error-50: #fdf3f3;
  --color-brand-error-100: #fce4e5;
  --color-brand-error-200: #fbcdcf;
  --color-brand-error-300: #f7aaad;
  --color-brand-error-400: #f0797d;
  --color-brand-error-500: #e54e53;
  --color-brand-error-600: #d13136;
  --color-brand-error-700: #c1292e;
  --color-brand-error-800: #922226;
  --color-brand-error-900: #792326;
  --color-brand-error-950: #410e10;

  --color-brand-warning-50: #fffee7;
  --color-brand-warning-100: #fffdc2;
  --color-brand-warning-200: #fffa8a;
  --color-brand-warning-300: #fff147;
  --color-brand-warning-400: #ffe713;
  --color-brand-warning-500: #f1d302;
  --color-brand-warning-600: #c9a300;
  --color-brand-warning-700: #9e7802;
  --color-brand-warning-800: #815e0a;
  --color-brand-warning-900: #6d4e0f;
  --color-brand-warning-950: #402a03;

  /* font families */
  --font-heading: var(--font-heading);
  --font-body: var(--font-body);

  /* font sizes */
  --text-fs-900: 4.5rem;
  --text-fs-800: 3.75rem;
  --text-fs-700: 3rem;
  --text-fs-600: 2.25rem;
  --text-fs-500: 1.5rem;
  --text-fs-400: 1rem;
  --text-fs-300: 0.875rem;
  --text-fs-200: 0.5rem;

  /* breakpoints */
  --breakpoint-lg: 1280px;
  --breakpoint-md: 760px;
}
